
<button id="btn-add" [routerLink]="['/addform']" class="btn btn-primary">Add Record</button>


<input class="form-control" type="text" placeholder="Search by CRESTRA" aria-label="Search" [(ngModel)]="filteredSearch"/>
<table class="table table-striped">

    <thead>
      <tr>
        
        <th scope="col">CRESTRA</th>
        <th scope="col">CNIVBUS</th>
        <th scope="col">CGESBUS</th>
        <th scope="col">CTYPOFF</th>
        <th scope="col">UOT</th>
        <th scope="col">COFFCDDB</th>
        <th scope="col">COFFBTWTVA</th>
        
      </tr>
    </thead>
    <tbody>
        
      <tr  *ngFor="let c of cbus | filter: filteredSearch ; let i=index">
          <td>{{c.crestra}}</td>
          <td>{{c.cnivbus}}</td>
          <td>{{c.cgesbus}}</td>
          <td>{{c.ctypoff}}</td>
          <td>{{c.uot}}</td>
          <td>
            <div *ngIf="!c.isEdit">{{c.coffcddb}}</div>
            <div *ngIf="c.isEdit"><input type="text" class="form-control" #cname="ngModel" required name="cddbCode" [(ngModel)]="c.coffcddb"></div>
          </td>
          <td>
            <div *ngIf="!c.isEdit">{{c.coffbtwtva}}</div>
            <div *ngIf="c.isEdit"><input type="text" class="form-control " #cname="ngModel" required name="coffbtwtva" [(ngModel)]="c.coffbtwtva"></div>  
          </td>
          <td>
            <div class="row" *ngIf="!c.isEdit">
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" (click)="getCbusById(c)" aria-hidden="true">Edit</button>
                </div>
                <div class="col-md-6 text-right">
                  <button class="btn btn-primary" (click)="openDialog(c)" aria-hidden="true">Delete</button>
              </div>
            </div>
            <div class="row" *ngIf="c.isEdit">
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" (click)="saveCode(c)" aria-hidden="true">Save</button>
                </div>
              </div>
          </td>
       </tr>
    </tbody>
  </table>

 