
<div class="card" style="width:700px">
    <div class="card-body">
    <h2>Add Cbus</h2>
    <form [formGroup]="addForm">
        <div class="form-group">
            <label for="id">CRESTRA</label>
            <input type="text"  formControlName="crestra" class="form-control" id="crestra" name="crestra">
            <span class="error" *ngIf="crestra ">crestra id is required!</span>
        </div>
        <div class="form-group">
            <label for="id">CNIVBUS</label>
            <input type="text" formControlName="cnivbus" class="form-control" id="cnivbus" name="cnivbus">
        </div>
        <div class="form-group">
            <label for="id">CGESBUS</label>
            <input type="text" formControlName="cgesbus" class="form-control" id="cgesbus" name="cgesbus">
        </div>
        <div class="form-group">
            <label for="id">CTYPOFF</label>
            <input type="text" formControlName="ctypoff" class="form-control" id="ctypoff" name="ctypoff" >
        </div>
        <div class="form-group">
            <label for="id">UOT</label>
            <input type="text" formControlName="uot" class="form-control" id="uot" name="uot">
        </div>
        <div class="form-group">
            <label for="cddb">COFFCDDB</label>
            <input type="text" formControlName="coffcddb" class="form-control" id="cddb" name="cddb" >   
        </div>
        <div class="form-group">
            <label for="btw">COFFBTWTVA</label>
            <input type="text" formControlName="coffbtwtva" class="form-control" id="btw" name="btw" >
        </div>
        <button (click)="onSubmit()" class="btn btn-success">Add CBUS</button>
    </form>

    </div>

</div>
 